<ng-container *transloco="let trans; scope: 'education'">
    <h1>{{ trans('education.title') }}</h1>
    <h2>{{ trans('education.description') }}</h2>
    <p>{{ trans('education.paragraph1') }}</p>
    <app-skill
        title="{{ trans('education.education1.title') }}"
        description="{{ trans('education.education1.description') }}"
        content="{{ trans('education.education1.content') }}"
    >
        <app-tag color="blue">Web Dev</app-tag>
        <app-tag color="blue">JavaScript</app-tag>
        <app-tag color="blue">HTML</app-tag>
        <app-tag color="blue">CSS</app-tag>
        <app-tag color="blue">C#</app-tag>
    </app-skill>
    <app-skill
        title="{{ trans('education.education2.title') }}"
        description="{{ trans('education.education2.description') }}"
        content="{{ trans('education.education2.content') }}"
    >
        <app-tag color="blue">Windows</app-tag>
        <app-tag color="blue">Linux</app-tag>
        <app-tag color="blue">Scripting</app-tag>
        <app-tag color="blue">Office Soft</app-tag>
        <app-tag color="blue">Networks</app-tag>
    </app-skill>
</ng-container>
