:host {
    display: flex;
    align-items: center;
}

.separator {
    width: 0.5px;
    height: 20px;
    background-color: #333;
    margin: 0 10px;
}

.col1, .col2 {
    font-size: 20px;
    font-weight: 100;
    color: #333;
    transition: 0.3s ease;
}

.col1:hover {
    font-size: 24px;
    cursor: pointer;
    font-weight: 200;
}

.col2:hover {
    font-size: 24px;
    font-weight: 200;
    cursor: pointer;
}

.active {
    font-size: 20px;
    font-weight: 200;
    color: #2103ce;
}