:host {
    border: solid 5px black;
    margin: 2rem;
    padding: 0;
    border-radius: 20px;
    text-align: left;
    width: 40%;
    height: fit-content;
    position: sticky;
    top: 8rem;
}

ul {
    border: solid 5px black;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

li {
    list-style: none;
    border: 1px solid black;
    margin: auto;
    text-wrap: nowrap;
    padding-top: 1rem;
    color: var(--secondary-color);
    width: 100%;
}

.selected {
    font-size: 2rem;
    color: rgb(198, 48, 48);
    font-weight: 500;
}