:host {
    margin: 2rem;
    padding: 0;
    border-radius: 20px;
    text-align: left;
    width: 30%;
    height: fit-content;
    position: sticky;
    top: 8rem;
}

@media screen and (max-width: 1300px) {
    :host {
        width: 100%;
        display: block;
        position: relative;
        align-items: center;
        top: 3rem;
    }

    ul {
        display: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

li {
    list-style: none;
    margin: auto;
    text-wrap: nowrap;
    padding-top: 1rem;
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.5s;
}

a:hover {
    font-size: 2rem;
    color: red;
}

a:hover svg {
    scale: 2;
    fill: red;
    transform: translate(3px, -3px);
}

svg {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    transition: 0.5s;
    
}

.active {
    font-size: 2rem;
    color: red;
    fill: red;
}

.active svg {
    scale: 2;
    fill: red;
    transform: translate(3px, -3px);
}