<ng-container *transloco="let trans; scope: 'experience'">
    <h1>{{ trans("experience.title") }}</h1>
    <h2>{{ trans("experience.description") }}</h2>
    <p>{{ trans("experience.paragraph1") }}</p>
    <app-skill
        title="{{ trans('experience.experience1.title') }}"
        description="{{ trans('experience.experience1.description') }}"
        content="{{ trans('experience.experience1.content') }}"
    >
        <app-tag color="blue">Vue.js</app-tag>
        <app-tag color="blue">.NET</app-tag>
        <app-tag color="blue">PostgreSQL</app-tag>
        <app-tag color="blue">Azure DevOps</app-tag>
    </app-skill>
    <app-skill
        title="{{ trans('experience.experience2.title') }}"
        description="{{ trans('experience.experience2.description') }}"
        content="{{ trans('experience.experience2.content') }}"
    >
        <app-tag color="blue">Jira</app-tag>
        <app-tag color="blue">Scripting</app-tag>
        <app-tag color="blue">CMS Management</app-tag>
        <app-tag color="blue">IT</app-tag>
    </app-skill>
</ng-container>
